.paintings{
	:global(.ant-col-6){
		height: 340px;
		padding-bottom: 16px;
	}
	.add{
		box-shadow: 0 1px 3px rgba(0,0,0,.3);
		text-align: center;
		height: 100%;
		width: 100%;
		padding: 10px;
		a{
			display: block;
			height: 100%;
			margin: 0 auto;
			border: 2px dashed #dedede;
		}
		i{
			font-size: 62px;
		    display: block;
		    margin: 88px 0 0 0;
		}
	}
}